<form [formGroup]="chartForm">
  <div formArrayName="charts">
    <ng-container *ngFor="let control of charts.controls;let i=index" [formGroupName]="i">
      <mat-form-field class="form-control">
        <input matInput placeholder="Location" formControlName="location">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="owner" formControlName="owner">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="type" formControlName="type">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="date" formControlName="date">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="as" formControlName="as2">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="act" formControlName="act">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="error" formControlName="error">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="note" formControlName="note">
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="sampleNote" formControlName="sampleNote">
      </mat-form-field>
    </ng-container>
  </div>

</form>
<button mat-raised-button color="primary" [mat-dialog-close]="chartForm.value" >Update</button>
