<!--<router-outlet></router-outlet>-->
<mat-tab-group>
  <mat-tab label="Chart result">
    <app-chart-result></app-chart-result>
  </mat-tab>
  <mat-tab label="Chart list">
    <app-chart-list></app-chart-list>
  </mat-tab>
</mat-tab-group>
