<button mat-raised-button color="primary" class="chart-edit-btn" [disabled]="!ifSelected" (click)="openDialog(selectedChart)">Edit</button>

<mat-form-field appearance="outline">
  <mat-select placeholder="Location" (valueChange)="applyFilter($event)">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let item of dataSource.filteredData" [value]="item.location">
      {{item.location}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-select placeholder="Owner" (valueChange)="applyFilter($event)">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let item of dataSource.filteredData" [value]="item.owner">
      {{item.owner}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-select placeholder="Type" (valueChange)="applyFilter($event)">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let item of dataSource.filteredData" [value]="item.type">
      {{item.type}}
    </mat-option>
  </mat-select>
</mat-form-field>
<table mat-table matSort [dataSource]="dataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; addSelection(row)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>location</th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>owner</th>
    <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>type</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="as2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>as</th>
    <td mat-cell *matCellDef="let element"> {{element.as2}} </td>
  </ng-container>

  <ng-container matColumnDef="act">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>act</th>
    <td mat-cell *matCellDef="let element"> {{element.act}} </td>
  </ng-container>

  <ng-container matColumnDef="error">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>error</th>
    <td mat-cell *matCellDef="let element"> {{element.error}} </td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>note</th>
    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
  </ng-container>

  <ng-container matColumnDef="sampleNote">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>sampleNote</th>
    <td mat-cell *matCellDef="let element"> {{element.sampleNote}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
